{% extends 'base.html' %}

{% block content %}
<div class="container-fluid mt-5">
    <h2 class="text-center">Вход</h2>

    <form method="POST" action="{{ url_for('login') }}" class="w-100 mx-auto" style="max-width: 600px;">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
            {% for error in form.email.errors %}
            <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
            {% for error in form.password.errors %}
            <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-warning" style="padding: 10px 40px;">{{ form.submit.label }}</button>
        </div>
    </form>
</div>
{% endblock %}